.filter {
  display: block;
  text-align: center;
  margin: 10px;
  position: relative;
}

.clear-button {
  position: absolute;
  right: 40%;
  top: 65%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
}
.clear-button svg {
  width: 20px;
  height: 20px;
}
