* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../img/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
button:hover {
  background-color: #585a59;
}

button,
select,
input {
  border: 1px solid rgb(63, 63, 63);
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #eeece7;
}
input:focus {
  background-color: #b4b4b4;
  border: 2px solid rgb(63, 63, 63);
}
.list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.list ul {
  flex: 1;
}

.actions {
  margin-top: auto;
}
