.mySwiper {
  width: 100%;
  max-width: 600px;
  height: 250px;
}

.mySwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}
.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
}
.swiper-pagination-bullet {
  background: #a8a8a8;
}
.swiper-pagination-bullet-active {
  background: #5c5b5b;
}
